<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <!-- Всплывающее окно -->
    <div class="modal">
      <h1>Login</h1>
      <form action="/login" method="POST">
        <input
          type="text"
          id="username"
          name="username"
          placeholder="Username"
        />
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Password"
        />
        <button type="submit">Start</button>
      </form>
    </div>
  </body>
</html>
